@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
*,
*::before,
*::after {
  box-sizing: border-box; }

#bg {
  background-image: url(../img/aboutbg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  min-height: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 1em 2em; }

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #282828;
  top: 10%;
  left: 0;
  margin: 0 auto;
  font-family: 'Oxygen', sans-serif; }
  .container .social-item {
    display: inline-block;
    margin-right: 0.1em; }
  .container footer {
    padding: 0.4em;
    font-size: 1.3em; }
  .container .social-icon-twitter {
    background-color: #32b9e7;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .container .social-icon-twitter:hover {
    background-color: #2a9dc4; }
  .container .social-icon-email {
    background-color: #333333;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .container .social-icon-email:hover {
    background-color: #2b2b2b; }
  .container h1 {
    font-family: 'Oxygen';
    font-weight: 800;
    font-size: 2.5em; }
  .container p {
    font-family: 'Oxygen';
    font-weight: 800;
    font-size: 1em; }
  .container .inner-card {
    margin-top: 10px; }
  .container a {
    text-decoration: none; }
  .container .card {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.2em;
    background: rgba(255, 255, 255, 0.5);
    padding: 70px;
    overflow: hidden;
    padding-top: 30px; }

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: rgba(51, 61, 55, 0.6);
  cursor: pointer; }

.button_container {
  position: fixed;
  bottom: 3%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #ffffff; }
  .button_container.active .middle {
    opacity: 0;
    background: #ffffff; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #ffffff; }
  .button_container span {
    background: #ffffff;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #333d37;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 45%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      height: calc(100%/4);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #ffffff;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #ffffff;
          transition: .35s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

/*# sourceMappingURL=about.css.map */
